@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply overflow-x-hidden w-full;
    max-width: 100vw;
  }
  #root {
    @apply w-full overflow-x-hidden;
  }
}
